All Jobs for <strong><%= @company.name %></strong>

<% @company.jobs.each do |job| %>
  <ul>
    <li>
    <%= job.title %> at <%= @company.name %>
    <%= link_to "Edit", edit_company_job_path(@company, job.id) %>
    </li>
  </ul>
<% end %>
